<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.ico">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <title>Home | Analisis Sentimen</title>
</head>
<body>

    <div class="container">

        <img src="/static/images/logo.png" alt="">
        <div class="text-center">
            <h1>Analisis Sentimen</h1>
            <p>Menggunakan <span>Naive Bayes.</span></p>
        </div>
        <a href="/klasifikasi">
            <div class="button-group">
                <p>Mulai Klasifikasi</p>
                <div class="button-icon">
                    <i class="ri-bard-fill"></i>
                </div>
            </div>
        </a>
        
    </div>

</body>
</html>